# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/raw/*
data/processed/*
data/database/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/database/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# OS specific
.DS_Store
Thumbs.db
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini

# Database files
*.db
*.sqlite
*.sqlite3
*.bak

# Environment variables
.env
